<h2>Celebrities</h2>
<div class="list">
    {{#each celebrities}}
    <div class="celebrities">
    <h3>Name:{{name}}</h3>
    <h3>Occupation:{{occupation}}</h3>
    <h3>CatchPrhase:{{catchPhrase}}</h3>
    </div>
    {{/each}}
</div>