<h2>Edit Movie</h2>
<form action="/movies/{{movies.id}}/edit" method="post">
    <label>
        <input type="text" name="title" placeholder="Movie's title">
    </label>
    <label>
        <input type="text" name="genre" placeholder="Movie's genre">
    </label>
    <label>
        <input type="text" name="plot" placeholder="Movie's plot">
    </label>
    <select name="" id="">
        <label>
            <input type="text" name="cast" placeholder="Movie's cast">
        </label>
    </select>
    <button type="submit">Submit</button>
</form>